name: Build Sanity Check

on:
    push:
      branches:
        - master
    pull_request:
      types:
        - opened
    workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.6"

      - name: Prepare Dependencies and Build
        run: make dist
